.reveal {
  font-size: 250%;
  font-family: Ubuntu, sans-serif;
}
.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 {
  font-family: KelsonSans, sans-serif;
  font-weight: normal;
  margin-bottom: 1em;
  letter-spacing: -0.025em;
  line-height: 1em;
}
.reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  color: #333;
}
.reveal img {
  max-height: 100%;
  height: 100%;
}
.reveal p {
  font-size: 0.65em !important;
}

.stop {
  position: absolute;
  z-index: 1000;
  padding: 10px 0 0 20px;
  display: inline-block;
  opacity: 0.25;
  font-size: 40px;
  line-height: 40px;  
  text-decoration: none;
}