*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
@font-face {
  font-family: 'KelsonSans';
  src: url("../fonts/kelson_sans_regular-wf.eot");
  src: url("../fonts/kelson_sans_regular-wf.eot?#iefix") format("embedded-opentype"), url("../fonts/kelson_sans_regular-wf.woff") format("woff"), url("../fonts/kelson_sans_regular-wf.ttf") format("truetype"), url("../fonts/kelson_sans_regular-wf.svg#kelson_sansregular") format("svg");
  font-style: normal;
}
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}
a, a:link, a:visited, a:hover {
  color: gray;
  text-decoration: none;
  font-weight: normal;
}
header {
  padding: 0.75em 0 0.75em 1.5em;
  background: #222;
}
header a, header a:link, header a:active, header a:hover {
  color: white;
}
h1 {
  margin: 0;
  font-family: KelsonSans, sans-serif;
  font-weight: normal;
  letter-spacing: -0.025em;
  color: #ccc;
}
.content {
  padding: 1.5em;
}